@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
    overflow-x: hidden !important;
  width: 100% !important;
  position: relative;
  padding-right: 0px !important;
}
body.modal-open {
  padding-right: 0px;
  overflow: hidden; /* This hides the scrollbar */
}
